html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}

#root.dim:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
<<<<<<< HEAD
  transition: border-color 0.25s;
}
button:hover {
  border-color: none;
}
button:focus,
button:focus-visible {
  outline: none;
=======
>>>>>>> dev
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
